* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

[class*="col-"]  {
  border: 1px solid black;

}

#header_2 {
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}


/* @media (min-width:992px) {
  .col-5_12 {
    width:calc(100% / 5);
    float:left;
  }
} */
