* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
/* debug -----*/
[class*="col-"]  {
  /* border: 1px solid black; */
}
/* fine debug */
/* inizio HEADER --------------------*/
header {
  background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
  background-size: auto;
  background-position: bottom;
}
/* inizio testo sx header -----*/
#header_2 {
  color:white;
  margin-top:50px;
  padding:120px 0;
}
#header_2 h1{
    font-size: 62px;
    line-height: 1.18;
    letter-spacing: 1.2px;
    font-weight: 600;
}
#header_2_testo {
  margin-top:90px;
}
#header_2_testo p {
  font-size: 24px;
  opacity: .8;
  line-height: 1.5;
  margin-top: 28px;
  letter-spacing: 1.2px;
}
/* fine    testo sx header -----*/
/* inizio  form dx  header  ----*/
#header_2_form {
  background-color: white;
  padding: 32px;
  border-radius: 5px;
  margin-left: 70px;

}
#header_2_form form input{
  height: 48px;
}
#header_2_form h2{
  color:#031b4e;
  text-align: center;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 8px;
  margin-bottom:32px;
  font-size: 30px;
}
#header_2_form button {
  width: 100%;
  background-color: #0069ff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
}
#header_2_form button:hover {
  background-color: #1633ff;
}

#google_button {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 25px;
  background-image: url("img/google-logo.png");
  width: 100%;
  box-shadow: 2px 2px rgba(3,27,78,2);
  margin-top: 8px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
}
#google_button a {
  color: rgba(3,27,78,.7)
}
#google_button + p {
  color:rgba(3,27,78,.7);
  text-align: center;
  margin-top: 14px;
}
#google_button + p > a {
  text-decoration: underline;
}



/* fine    form dx  header  ----*/
/* fine HEADER --------------------------*/

/* inizio SEZIONE PRIMA -----------------*/
#sez_1{
  padding: 40px 0;
  background-color: #f3f5f9
}
#sez_1 h3 {
  text-align: center;
  opacity: .4;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;

}
/* inizio LOGHI sez 1 */
#sez_1 img {
  width: 100%;
  height: 130px;
  margin-top: 30px;
}

#sez_1 > .container > .row > div:nth-child(6) img {
  height: 65px;
  margin-top: 65px;
}
#sez_1_chiusura {
  text-align: center;
  margin-top: 35px;
}
#sez_1_chiusura a {
  color: #0069ff;
  font-weight: bolder;
  font-size: large;
}
#sez_1_chiusura a::after {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  padding-left: 16px;
  text-decoration:none;


}
/* fine LOGHI sez 1 */
/* fine   SEZIONE PRIMA -----------------*/
/* inizio SEZIONE SECONDA ---------------*/
/* inizio titolo-------------- */
#sez_2_titolo {
  color: rgba(3,27,78,.7);
  padding: 60px 0;
  text-align: center;
}
#sez_2_titolo h2 {
  font-weight: 800;
  font-size: 41px;
  letter-spacing: 1.2px;
}
#sez_2_titolo p {
  font-size: 20px;
  letter-spacing: .3px;
}
/* fine   titolo-------------- */
/* inizio main sez 2 ----------*/
#sez_2_lista li {
  border-top: none;
  border-right: none;
  border-bottom:none;
  border-left: 2px solid rgba(3,27,78,.2);
  border-radius: 0;
  color: rgba(3,27,78,.7);
  font-size: 20px;
  letter-spacing: .6px;
  padding:15px;
  background-color: white;

}
#sez_2_lista {
  padding-left: 152px;
}
.sez_2_consigli > i{
  font-size: -webkit-xxx-large;
  color: #0069ff;
}
.sez_2_consigli h4 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  color: #031b4e;
  padding-top: 5px;
}
.sez_2_consigli p {
  margin-top: 16px;
  color: rgba(3,27,78,.7);
  letter-spacing: .5px;
  font-size: larger;
  line-height: 1.5;
}
}









/* @media (min-width:992px) {
  .col-5_12 {
    width:calc(100% / 5);
    float:left;
  }
} */
