* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

[class*="col-"]  {
  border: 1px solid black;
  height:100px;
}




/* @media (min-width:992px) {
  .col-5_12 {
    width:calc(100% / 5);
    float:left;
  }
} */
